body {
    font-family: sans-serif;
    margin: 40px;
}

.formulario {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 300px;
}

.formulario div {
    margin-bottom: 10px;
}

label {
    display: block;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th,
td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}